@using GlassesOnline.Models;
@model SANPHAMGLA
@{
    ViewBag.Title = "viewchitiet";
    Layout = "~/Views/_LayoutIndex.cshtml";
}

<div id="content">
    
    <div class="product-info">
        <div class="left">
            <div class="image"> 
                <div id="wrap" style="top:0px;z-index:1000;position:relative;">
                    <a href="~/Content/Images/Product/@Model.HinhMinhHoa" title="iPhone" class="cloud-zoom colorbox cboxElement" id="zoom1" rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false" style="position: relative; display: block;">
                        <img src="~/Content/Images/Product/@Model.HinhMinhHoa" title="#" alt="#" id="image" style="display: block;width:350px;height:350px">
                            <span id="zoom-image"><i class="zoom_bttn"></i> Zoom</span>
                                <div style="position: absolute; left: 0px; top: 0px; width: 350px; height: 350px; background-color: rgb(0, 0, 0); opacity: 0.2; display: none;"></div>
                                <div style="position: absolute; left: 0px; top: 0px; width: 350px; height: 350px; background-color: rgb(0, 0, 0); opacity: 0.2; display: none;"></div>
                                <div style="position: absolute; left: 0px; top: 0px; width: 350px; height: 350px; background-color: rgb(0, 0, 0); opacity: 0.2; display: none;"></div>
                    </a>
                <div class="mousetrap" style="background-image: url(&quot;.&quot;); z-index: 999; position: absolute; width: 350px; height: 350px; left: 0px; top: 0px; cursor: pointer;"></div>
                </div> 
            </div>
            <div class="image-additional"> 
                <a href="~/Content/Images/Product/@Model.HinhMinhHoa" title="#" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Content/Images/Product/@Model.HinhMinhHoa' ">
                     <img src="~/Content/Images/Product/@Model.HinhMinhHoa" width="62" title="#" alt="#">
                </a> 
                <a href="image/product/htc_touch_hd_1.jpg" title="#" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/htc_touch_hd_1_350x350.jpg' ">
                    <img src="image/product/htc_touch_hd_1_62x62.jpg" width="62" title="#" alt="#">
                </a>
                <a href="image/product/htc_touch_hd_11.jpg" title="#" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/htc_touch_hd_11_350x350.jpg' ">
                   <img src="image/product/htc_touch_hd_11_62x62.jpg" width="62" title="#" alt="#">
                </a> 
                <a href="image/product/iphone_2.jpg" title="#" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: 'image/product/iphone_2_350x350.jpg' ">
                    <img src="image/product/iphone_2_62x62.jpg" width="62" title="#" alt="#">
                </a> 
            </div>
        </div>
        <div class="right">
            <h1>@Model.TenSP</h1>
            <div class="description">
                <span>Thương Hiệu:</span> <a href="#">@Model.HangSanXuat</a><br>
                <span>Kiểu Sản Phẩm:</span> @Model.LOAISANPHAM.TenLoai
            </div>
            <div class="price">
                <div class="price-tag">@string.Format("{0:0,0}", Model.DonGia) VND</div>
                <input id="LuuMaSP" type="text" value="@Model.MaSP" style="display:none" />
            </div>
            <div class="cart">
                <div>
                    <div class="qty">
                            <strong>Số Lượng:</strong> <a href="javascript:void(0);" class="qtyBtn mines">-</a>
                            <input type="text" value="1" size="2" name="quantity" class="w30" id="qty">
                            <a href="javascript:void(0);" class="qtyBtn plus">+</a>
                        <div class="clear"></div>
                    </div>
                    <input type="button" class="button" id="button-cart" value="Thêm Vào Giỏ Hàng">
                </div>
            </div>
            <div class="review">
                <div>
                    @{
                        double DanhGiaTB = 0;
                        string SoLuongDanhGia = "0";
                        if(ViewData["DanhGia"] != null)
                        {
                            HamLayBangDanhGia_Result DanhGia = (HamLayBangDanhGia_Result)ViewData["DanhGia"];
                            DanhGiaTB = double.Parse(DanhGia.TongDiemDanhGia.ToString()) / double.Parse(DanhGia.SoLuongDanhGia.ToString());
                            SoLuongDanhGia = DanhGia.SoLuongDanhGia.ToString();
                        }
                        if (DanhGiaTB < 1)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-0.png">
                        }
                        else if (DanhGiaTB >= 1 && DanhGiaTB < 2)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-1.png">
                        }
                        else if (DanhGiaTB >= 2 && DanhGiaTB < 3)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-2.png">
                        }
                        else if (DanhGiaTB >= 3 && DanhGiaTB < 4)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-3.png">
                        }
                        else if (DanhGiaTB >= 4 && DanhGiaTB < 5)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-4.png">
                        }
                        else if (DanhGiaTB == 5)
                        {
                            <img alt="0 " src="~/Content/Images/Design/stars-5.png">
                        }
                    }
                    <a onclick="$('a[href=\'#tab-review\']').trigger('click');">@SoLuongDanhGia Đánh Giá |</a>
                    <a onclick="$('a[href=\'#tab-review\']').trigger('click');"> Viết Đánh Giá</a>
                </div>
            </div>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style "> <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a> </div>
            <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=xa-506f325f57fbfc95"></script>
            <!-- AddThis Button END -->
        </div>
    </div>
    <!-- Tabs Start -->
    <div id="tabs" class="htabs"> <a href="#tab-description" class="selected" style="display: inline;">Miêu Tả</a> <a href="#tab-review" style="display: inline;" class="">Đánh Giá</a> </div>
    <div id="tab-description" class="tab-content" style="display: block;">
        <p>@Model.MoTa</p>
        
    </div>
    <div class="tab-content" id="tab-review" style="display: none;">
        <div class="review-list">
            @foreach (var dg in (IList<DANHGIASP>)ViewData["listDanhGia"])
            {
                switch (dg.DiemDG)
                {
                    case 1:
                        <div class="author"><b>@dg.HoTenKH</b> vào  @string.Format("{0:dd/MM/yyyy}", dg.ThoiGian)</div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-1.png" /></div>
                        <div class="text">@dg.BinhLuan</div>
                        <br />
                        break;
                    case 2:
                        <div class="author"><b>@dg.HoTenKH</b> vào  @string.Format("{0:dd/MM/yyyy}", dg.ThoiGian)</div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-2.png" /></div>
                        <div class="text">@dg.BinhLuan</div>
                        <br />
                        break;
                    case 3:
                        <div class="author"><b>@dg.HoTenKH</b> vào  @string.Format("{0:dd/MM/yyyy}", dg.ThoiGian)</div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-3.png" /></div>
                        <div class="text">@dg.BinhLuan</div>
                        <br />
                        break;
                    case 4:
                        <div class="author"><b>@dg.HoTenKH</b> vào  @string.Format("{0:dd/MM/yyyy}", dg.ThoiGian)</div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-4.png" /></div>
                        <div class="text">@dg.BinhLuan</div>
                        <br />
                        break;
                    case 5:
                        <div class="author"><b>@dg.HoTenKH</b> vào @string.Format("{0:dd/MM/yyyy}", dg.ThoiGian) </div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-5.png" /></div>
                        <div class="text">@dg.BinhLuan</div>
                        <br />
                        break;
                }

            }


        </div>
        <h2 id="review-title">Viết Bình Luận</h2>

        @if (Session["MaKH"] == null)
        {
            <br>
            <b id="ThongBaoBinhLuan">Vui lòng đăng nhập để bình luận về sản phẩm.</b><br>
            <br>
            <br>
            <div id="BinhLuan">
                <div id="DangNhapBinhLuan">
                    <button id="btnDangNhapBL" type="button">Đăng Nhập Tại Đây</button>
                </div>
                <div id="frmDangNhapBinhLuan">
                    <input type="text" id="TenDNBinhLuan" placeholder="Tên Đăng Nhập" />
                    <br />
                    <input type="password" id="MKDNBinhLuan" placeholder="Mật Khẩu" />
                    <div class="buttons">
                        <a class="button" id="btnfrmDangNhapBL">Đăng Nhập</a>
                    </div>
                </div>
                <div id="frmBinhLuan">
                    <b>Bình Luận Tại Đây:</b>
                    <textarea id="VietBinhLuan" style="width: 98%;" rows="8" cols="40" name="text"></textarea>
                    <br>
                    <b>Đánh Giá:</b>&nbsp;
                    <input type="radio" value="1" name="rating">
                    &nbsp;
                    <input type="radio" value="2" name="rating">
                    &nbsp;
                    <input type="radio" value="3" name="rating">
                    &nbsp;
                    <input type="radio" value="4" name="rating">
                    &nbsp;
                    <input type="radio" value="5" name="rating">
                    <div class="buttons">
                        <div class="right"><a class="button" id="button-review">Bình Luận</a></div>
                    </div>
                </div>

            </div>
            <br>
            <br>
        }
        else
        {
            <br>
            <b id="ThongBaoBinhLuan">Xin Chào! @Session["TenKH"] hay cho chúng tôi biết ý kiến của bạn về sản phẩm</b><br>
            <br>
            <br>
            <div id="BinhLuan">
                <div id="frmBinhLuan" style="opacity:1">
                    <b>Bình Luận Tại Đây:</b>
                    <textarea id="VietBinhLuan" style="width: 98%;" rows="8" cols="40" name="text"></textarea>
                    <br>
                    <b>Đánh Giá:</b>&nbsp;
                    <input type="radio" value="1" name="rating">
                    &nbsp;
                    <input type="radio" value="2" name="rating">
                    &nbsp;
                    <input type="radio" value="3" name="rating">
                    &nbsp;
                    <input type="radio" value="4" name="rating">
                    &nbsp;
                    <input type="radio" value="5" name="rating">
                    <div class="buttons">
                        <div class="right"><a class="button" id="button-review">Bình Luận</a></div>
                    </div>
                </div>

            </div>
            <br>
            <br>
        }

    </div>
    <!-- Tabs End -->
    <!-- Related Products Start -->
    <div class="box">
        <div class="box-heading"><span>Sản Phẩm Liên Quan</span></div>
        <div class="box-content">
            <div class="box-product">
                @foreach (var item in (IList<SANPHAMGLA>)ViewData["listSanPhamLienQuan"])
                {
                    <div>
                        <div class="image"><a href="/ChiTiet/viewchitiet?_MaSP=@item.MaSP"><img alt="" src="~/Content/Images/Product/@item.HinhMinhHoa"></a></div>
                        <div class="name"><a href="product.html">@item.TenSP</a></div>
                        @{ 
                            double GiamGia = double.Parse(@item.DonGia.ToString()) - 20000;
                            
                        }
                        <div class="price"> <span class="price-old">@item.DonGia VND</span> <span class="price-new">@GiamGia VND </span> </div>

<a class="button">Thêm Vào Giỏ Hàng</a>
                    </div>
                }
                
            </div>
        </div>
    </div>
    <!-- Related Products End -->
</div>
